@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: #333;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    padding-top: 25px;
}

.eventList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #f0f5b9;
    padding: 20px;
}

.eventPreview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.eventPreview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.eventPreview h3 {
    font-size: 20px;
    font-weight: 700;
    color: #f1356d;
    margin-bottom: 8px;
}

.eventPreview a {
    text-decoration: none;
}